<div class="row" ng-init="init()">
    <section>
        <div class="subheader_be">
            <div class="left">
                <ul class="page_top">
                    <li class="pageH"> Editing RE 1506 527032 </li>
                    <li class="inProcess">  in Process </li>
                    <li class="Requested mobile_hide"> Requested 3 week ago, Last updated Monday </li>
                    <ul>
            </div>
            <div class="right">
                <div class="export"> <a href="#"> Export</a> <i class="fa fa-angle-down"></i> </div>
                <div class="save_b"> <a href="#"> Save</a> <i class="fa fa-angle-down"></i></div>
            </div>
        </div>
        <article>
            <div class="leftarea">
                <div class="left_txt">
                    <div class="left_txtH">  Property Owner </div>
                    <span>  Vittal Rao Bhijapur </span>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>

                    <span> Apartment </span> <br>
                    <br>
                    <span> Valued by Manju.M </span>
                    <br>
                    <br>
                    <span>  Requested by Emirates NBD </span>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <div class="left_txtH"> Additional information </div>
                    <span style="color:#82B9E0;">Show  documents (6)</span>
                    <br>
                    <br>
                    <br>
                    <span style="color:#82B9E0;">Show  images (4)</span>
                    <br>
                    <br>
                    <br>
                    <span style="color:#82B9E0;">Show  log (3)</span>
                    <br>
                    <br>
                    <br>
                    <span style="color:#82B9E0;">Show  comments (3)</span>
                </div>

                <div class="tab-nv mobile_hide">
                    <ul>
                        <li> <a href="#"> Process Data </a> </li>
                        <li> <a href="#"> Process Data </a> </li>
                        <li> <a href="#"> Process Data </a> </li>
                        <li class="tab-nv_sel"> <a href="#"> Process Data </a> </li>
                        <li> <a href="#"> Process Data </a> </li>
                        <li> <a href="#"> Process Data </a> </li>
                        <li> <a href="#"> Process Data </a> </li>
                        <li> <a href="#"> Process Data </a> </li>
                        <li> <a href="#"> Process Data </a> </li>

                    </ul>
                </div>

            </div>
            <div class="rightarea">

                <div class="rightarea_main">

                    <div class="rightareaH"> Requested Information </div>
                    <br>
                    <br>
                    <div class="rightareadate"> Date of Requested  </div>
                    <br>
                    <div class="rightareaInfo"> June 14, 2015 09:26  <span>  3 hours 23 minutes ago </span> </div>
                    <br>
                    <br>
                    <br>
                    <div class="line"> </div>
                    <br>
                    <br>
                    <br>
                    <br>
                    <div class="rightareadate"> Property Type  </div>
                    <br>
                    <div class="rightareaInfo"> What is the Type of Property?</div>

                    <div>
                        <ul class="radio_lineV" style="margin: 0;">
                            <li> <input type="radio"> <label>Apartment </label> </li>
                            <li> <input type="radio"> <label>Apartment </label> </li>
                            <li> <input type="radio"> <label>Apartment </label> </li>
                            <li> <input type="radio"> <label>Apartment </label> </li>
                        </ul>
                        <ul class="radio_lineV">
                            <li> <input type="radio"> <label>Apartment </label> </li>
                            <li> <input type="radio"> <label>Apartment </label> </li>
                            <li> <input type="radio"> <label>Apartment </label> </li>
                            <li> <input type="radio"> <label>Apartment </label> </li>
                        </ul>
                        <ul class="radio_lineV" style="margin: 0;">
                            <li> <input type="radio"> <label>Apartment </label> </li>
                            <li> <input type="radio"> <label>Apartment </label> </li>
                            <li> <input type="radio"> <label>Apartment </label> </li>
                            <li> <input type="radio"> <label>Apartment </label> </li>
                        </ul>
                        <ul class="radio_lineV">
                            <li> <input type="radio"> <label>Apartment </label> </li>
                            <li> <input type="radio"> <label>Apartment </label> </li>
                            <li> <input type="radio"> <label>Apartment </label> </li>
                            <li> <input type="radio"> <label>Apartment </label> </li>
                        </ul>
                    </div>
                    <div class="clear_space"> </div>
                    <br>
                    <br>
                    <br>
                    <div class="line"> </div>
                    <br>
                    <br>
                    <br>
                    <br>
                    <div class="rightareadate"> Property Complex  </div>
                    <br>
                    <div class="rightareaInfo"> Is this a property Complex?</div>
                    <ul class="radio_lineV" style="margin: 0;">
                        <li> <input type="radio"> <label>Yes </label> </li>
                        <li> <input type="radio"> <label>No </label> </li>

                    </ul>
                    <div class="clear_space"> </div>
                    <br>
                    <br>
                    <br>
                    <div class="line"> </div>
                    <br>
                    <br>
                    <br>
                    <br>
                    <div class="rightareadate"> Property Complex  </div>
                    <br>
                    <div class="rightareaInfo"> Is this the Apartment Number?</div>
                    <input class="input_txt" type="text" value="209A">


                </div>
            </div>


        </article>
    </section>
</div>
  
 