<div class="row" ng-init="init()">
    <section>
        <div class="subheader_be">
            <div class="left">
                <ul class="page_top">
                    <li class="pageH"> Editing RE 1506 527032 </li>
                    <li class="inProcess">  in Process </li>
                    <li class="Requested mobile_hide"> Requested 3 week ago, Last updated Monday </li>
                    <ul>
            </div>
            <div class="right">
                <div class="export"> <a href="#"> Export</a> <i class="fa fa-angle-down"></i> </div>
                <div class="save_b"> <a href="#"> Save</a> <i class="fa fa-angle-down"></i></div>
            </div>
        </div>
        <article>
            <div class="leftarea">
                <div class="left_txt">
                    <div class="left_txtH">  Property Owner </div>
                    <span>  Vittal Rao Bhijapur </span>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>

                    <span> Apartment </span> <br>
                    <br>
                    <span> Valued by Manju.M </span>
                    <br>
                    <br>
                    <span>  Requested by Emirates NBD </span>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <div class="left_txtH"> Additional information </div>
                    <span style="color:#82B9E0;">Show  documents (6)</span>
                    <br>
                    <br>
                    <br>
                    <span style="color:#82B9E0;">Show  images (4)</span>
                    <br>
                    <br>
                    <br>
                    <span style="color:#82B9E0;">Show  log (3)</span>
                    <br>
                    <br>
                    <br>
                    <span style="color:#82B9E0;">Show  comments (3)</span>
                </div>

                <div class="tab-nv mobile_hide">
                    <ul>
                        <li> <a href="#"> Process Data </a> </li>
                        <li> <a href="#"> Process Data </a> </li>
                        <li> <a href="#"> Process Data </a> </li>
                        <li class="tab-nv_sel"> <a href="#"> Process Data </a> </li>
                        <li> <a href="#"> Process Data </a> </li>
                        <li> <a href="#"> Process Data </a> </li>
                        <li> <a href="#"> Process Data </a> </li>
                        <li> <a href="#"> Process Data </a> </li>
                        <li> <a href="#"> Process Data </a> </li>

                    </ul>
                </div>

            </div>
            <div class="rightarea">

                <div class="rightarea_main row">

                    <form>
                        <div class="row">
                            <div class="form-group">
                                <label class="col-md-3 control-label" for="ddlStatus">Status</label>
                                <select class="col-md-3 form-control" id="ddlStatus">
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                </select>
                                <!--<select ng-model="status"
                                ng-options="status.name in statuses"></select>-->
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label" for="ddlClient">Client</label>
                                <select class="col-md-3 form-control" id="ddlClient">
                                    <option>Client 1</option>
                                    <option>Client 2</option>
                                    <option>Client 3</option>
                                    <option>Client 4</option>
                                    <option>Client 5</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group">
                                <label class="col-md-3 control-label" for="ddlDepartment ">Department </label>
                                <select class="col-md-3 form-control" id="ddlDepartment ">
                                    <option>Department  1</option>
                                    <option>Department  2</option>
                                    <option>Department  3</option>
                                    <option>Department  4</option>
                                    <option>Department  5</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label" for="ddlSurveyType">Survey Type</label>
                                <select class="col-md-3 form-control" id="ddlSurveyType">
                                    <option>SurveyType  1</option>
                                    <option>SurveyType  2</option>
                                    <option>SurveyType  3</option>
                                    <option>SurveyType  4</option>
                                    <option>SurveyType  5</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group  row">
                            <label class="col-md-2 control-label" for="txtReferenceNo">Reference No</label>
                            <input type="text" class="col-md-10 form-control" id="txtReferenceNo" placeholder="Reference number">
                        </div>

                        <div class="form-group  row">
                            <label class="col-md-2 control-label" for="txtDescription">Description</label>
                            <textarea id="txtDescription" class="col-md-10 form-control" rows="3"></textarea>
                        </div>

                        <div class="row">

                            <div class="form-group">
                                <label class="col-md-3 control-label" for="ddlStatusReason">Status Reason</label>
                                <select class="col-md-3 form-control" id="ddlStatusReason">
                                    <option>StatusReason  1</option>
                                    <option>StatusReason  2</option>
                                    <option>StatusReason  3</option>
                                    <option>StatusReason  4</option>
                                    <option>StatusReason  5</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label" for="ddlPriority">Priority</label>
                                <select class="col-md-3 form-control" id="ddlPriority">
                                    <option>Priority  1</option>
                                    <option>Priority  2</option>
                                    <option>Priority  3</option>
                                    <option>Priority  4</option>
                                    <option>Priority  5</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">

                            <div class="form-group">
                                <label class="col-md-3 control-label" for="ddlDueDate">Due date</label>
                                <div class="col-md-3" id="ddlDueDate">
                                    <p class="input-group">
                                        <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="dt" is-open="status.opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
                                        <span class="input-group-btn">
                                            <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                                        </span>
                                    </p>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-3 control-label" for="ddlSurveyor">Surveyor</label>
                                <select class="col-md-3 form-control" id="ddlSurveyor">
                                    <option>Surveyor  1</option>
                                    <option>Surveyor  2</option>
                                    <option>Surveyor  3</option>
                                    <option>Surveyor  4</option>
                                    <option>Surveyor  5</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-md-2 control-label" for="ddlCustomerAvailable">Customer Availability</label>

                            <div class="col-md-5" id="ddlCustomerAvailable">
                                <p class="input-group">
                                    <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="dt" is-open="status.opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                                    </span>
                                </p>
                            </div>
                            <div class="col-md-5">
                                <p class="input-group">
                                    <input type="date" class="form-control" uib-datepicker-popup ng-model="dt" is-open="status.opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                                    </span>
                                </p>
                            </div>
                        </div>
                        <div class="form-group  row">
                            <label class="col-md-2 control-label" for="txtName">Name</label>
                            <input type="text" class="col-md-10 form-control" id="txtName" placeholder="Name">
                        </div>
                        <div class="form-group row">
                            <label class="col-md-2 control-label" for="txtCompanyName">Company Name</label>
                            <input type="text" class="col-md-10 form-control" id="txtCompanyName" placeholder="Company Name">
                        </div>
                        <div class="form-group row">
                            <label class="col-md-2 control-label" for="txtPhone">Phone number</label>
                            <input type="text" class="col-md-10 form-control" id="txtPhone" placeholder="Phone number">
                        </div>

                        <div class="form-group row">
                            <label class="col-md-2 control-label" for="txtMobile">Mobile number</label>
                            <input type="text" class="col-md-10 form-control" id="txtMobile" placeholder="Mobile number">
                        </div>
                        <div class="form-group row">
                            <label class="col-md-2 control-label" for="txtAddress1">Address 1</label>
                            <textarea id="txtAddress1" class="col-md-10 form-control" rows="3" placeholder="Address 1"></textarea>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-2 control-label" for="txtAddress2">Address 2</label>
                            <textarea id="txtAddress2" class="col-md-10 form-control" rows="3" placeholder="Address 2"></textarea>
                        </div>
                        <button type="submit" class="btn btn-default">Submit</button>
                    </form>

                </div>
            </div>


        </article>
    </section>
</div>

